@media only screen and (max-width: 1280px) {
  .buttonF {
    width: 40px;
    height: 40px;
  }
  .mainTitle {
    font-size: 24px;
  }
  .headerRegular {
    font-size: 48px;
    padding-top: 30px;
  }
  .summaryRegular {
    font-size: 26px;
  }
  .tempTitle {
    font-size: 64px !important;
  }
  .heat {
    font-size: 22px;
  }
  .mainText {
    font-size: 18px;
  }
  .summaryRegular {
    font-size: 20px;
  }
}
